<table class="totals">
  <% iva = @order.total*0.16 %>
  <% total_sinIVA = @order.total - iva  %>

  <tr>
    <td class="cel1 bold"><%= Spree.t(:item_total) %>: </td>
    <td class="cel2 bold cell" align="right"><%= number_to_currency total_sinIVA %></td>
  </tr>
  <tr>
    <td class="cel1 bold">IVA: </td>
    <td class="cel2 cell" align="right"><%= number_to_currency iva %></td>
  </tr>
  <tr>
    <td class="cel1 bold"><strong><%= Spree.t(:order_total) %>:</strong></td>
    <td class="cel2 cell" align="right"><strong><span id='summary-order-total'><%= @order.display_total.to_html %></span></strong></td>
  </tr>
</table>
