<table cellspacing="0" cellpadding="4" border="0" class="line_items" style="border:solid 1px #cccccc; border-bottom:none;" >
  <tr>
    <td class="cel1 bold"><%= t(:item_total) %>: </td>
    <td class="cel2 bold cell" align="right"><%= @order.display_item_total.to_html %></td>
  </tr>
  <% @order.all_adjustments.eligible.each do |adjustment| %>
  <tr class="total">
    <td class="cel1 bold" style="border-bottom:solid 1px #cccccc;"><font face="Arial, Helvetica, sans-serif" size="2"><%= adjustment.label %>:</font></td>
    <td class="cel2 cell" align="right" style="border-bottom:solid 1px #cccccc;"><font face="Arial, Helvetica, sans-serif" size="2"><%= adjustment.display_amount.to_html %></font></td>
  </tr>
  <% end %>
  <tr>
    <td class="cel1 bold" style="border-bottom:solid 1px #cccccc;"><strong><%= t(:order_total) %>:</strong></td>
    <td class="cel2 cell" align="right" style="border-bottom:solid 1px #cccccc;"><strong><span id='summary-order-total'><%= number_to_currency @order.total %></span></strong></td>
  </tr>
</table>
