<table cellspacing="0" cellpadding="4" border="0" class="line_items" style="border:solid 1px #cccccc; border-bottom:none;" >
  <% iva = @order.total*0.16 %>
  <% total_sinIVA = @order.total - iva  %>
  <tr>
    <td class="cel1 bold"><%= t(:item_total) %>: </td>
    <td class="cel2 bold cell" align="right"><%= number_to_currency total_sinIVA %></td>
  </tr>
  <tr class="total">
    <td class="cel1 bold" style="border-bottom:solid 1px #cccccc;"><font face="Arial, Helvetica, sans-serif" size="2">IVA:</font></td>
    <td class="cel2 cell" align="right" style="border-bottom:solid 1px #cccccc;"><font face="Arial, Helvetica, sans-serif" size="2"><%= number_to_currency iva %></font></td>
  </tr>
  <tr>
    <td class="cel1 bold" style="border-bottom:solid 1px #cccccc;"><strong><%= t(:order_total) %>:</strong></td>
    <td class="cel2 cell" align="right" style="border-bottom:solid 1px #cccccc;"><strong><span id='summary-order-total'><%= number_to_currency @order.total %></span></strong></td>
  </tr>
</table>
